<div class="row mt-5">
  <div class="col-6 m-auto">
    <app-spinner *ngIf="loading"></app-spinner>
    <div *ngIf="errMsg" class="alert-danger text-center">
      {{errMsg}}
    </div>
    <div *ngIf="resMsg" class="alert-success text-center">
      {{resMsg}}
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <button class="btn btn-sm btn-primary" (click)="onAdd()"><i class="fa fa-plus"></i></button>
      </div>
      <div class="col-6">
        <form class="d-flex" (ngSubmit)="onSearchTodo()">
          <input class="form-control me-2" type="search" 
          placeholder="Type name or description" aria-label="Search" [ngModel]="needle" name="needle" (ngModelChange)="onSearchInputChange($event)">
          <button class="btn btn-sm btn-outline-success" type="submit" [disabled]="!needle">Search</button>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="searchResultBanner">
      <div class="col">
        <div class="alert alert-success" role="alert">
          <strong>{{searchResultCount}}</strong> todo(s) found.
        </div>
      </div>
    </div>
    <br>
    <table *ngIf="!errMsg" class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Done</th>
          <th scope="col">Target Date</th>
          <th scope="col" *ngIf="areTodosMine()">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="todos.length">
        <tr *ngFor="let todo of todos; let todoNumber = index ">
          <th scope="row">{{todoNumber + 1}}
            <i class="fa fa-lg fa-arrow-circle-up text-danger mx-1" *ngIf="todo.byAdmin"></i>
          </th>
          <td>{{todo.name | titlecase}}</td>
          <td>{{todo.description | slice:0:10 | titlecase }}{{todo.description.length > 10 ? "..." : ""}}</td>
          <td>
            <i *ngIf="todo.done" class="fa fa-check text-success" aria-hidden="true"></i>
          </td>
          <td>{{todo.targetDate | date}}</td>
          <td *ngIf="areTodosMine()">
            <span class="m-2">
              <i class="fa fa-pencil text-warning" aria-hidden="true" style="cursor: pointer"
                (click)="onEditTodo(todo.id)"></i>
            </span>
            <span class="m-2">
              <i class="fa fa-trash text-danger" aria-hidden="true" style="cursor: pointer"
                (click)="onDeleteTodo(todo.id)"></i>
            </span>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="todos.length == 0">
        <tr>
          <td colspan="6">
            <div class="alert text-center">
              No record to show.
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>