<div class="row mt-5">
  <div class="col-6 m-auto">
    <div *ngIf="errMsg" class="alert-danger text-center">
      {{errMsg}}
    </div>
    <div *ngIf="resMsg" class="alert-success text-center">
      {{resMsg}}
    </div>
    <div class="mb-3">
      <button class="btn btn-sm btn-primary" (click)="onAdd()"><i class="fa fa-plus"></i></button>
    </div>
    <table *ngIf="!errMsg" class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Done</th>
          <th scope="col">Target Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos; let todoNumber = index ">
          <th scope="row">{{todoNumber + 1}}</th>
          <td>{{todo.name | titlecase}}</td>
          <td>{{todo.description | slice:0:10 | titlecase }}{{todo.description.length > 10 ? "..." : ""}}</td>
          <td>
            <i *ngIf="todo.done" class="fa fa-check text-success" aria-hidden="true"></i>
          </td>
          <td>{{todo.targetDate | date}}</td>
          <td>
            <span class="m-2">
              <i class="fa fa-pencil text-warning" aria-hidden="true" style="cursor: pointer"
                (click)="onEditTodo(todo.id)"></i>
            </span>
            <span class="m-2">
              <i class="fa fa-trash text-danger" aria-hidden="true" style="cursor: pointer"
                (click)="onDeleteTodo(todo.id)"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>