<div class="row mt-5">
  <div class="col-md-3 m-auto" *ngIf="resetPasswordRequestEmailed; else reset_form">
    <p>Congrats! we just sent you an email with reset password link.</p>
    <p>Please follow the instruction inside the email to reset your password.</p>
  </div>
  <ng-template #reset_form>
    <div class="col-md-3 m-auto">
      <p>Please provide us your email address and we send you a link to reset your password</p>
      <form #f="ngForm" (ngSubmit)="requestResetPassword()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" required email [(ngModel)]="username" name="username" #emailInput="ngModel">
        </div>
        <ul *ngIf="!emailInput.valid && emailInput.touched" class="text-danger">
          <li *ngIf="emailInput.errors.required">Email field is required.</li>
          <li *ngIf="emailInput.errors.username">Email format is required.</li>
        </ul>
        <button type="submit" [disabled]="!f.valid" class="btn btn-sm btn-primary mt-3">Send</button>
      </form>
    </div>
  </ng-template>
</div>