<div class="row mt-5">
    <div class="col-4 text-center m-auto">
        <h2 class="text-muted">Welcome</h2>
        <br>
        <h4>Keep track of your todo tasks</h4>
        <hr>
    </div>
</div>
<!-- <div class="row">
    <div class="col-4 text-center m-auto">
        <p>New user?</p>
        <a class="btn btn-sm btn-primary" routerLink="/signup">Sign up</a>
        <br><br>
        <p>Already have an account?</p>
        <a class="btn btn-sm btn-success" routerLink="/login">Login</a>
        <br><br>
        <p>Forgot password?</p>
        <a class="btn btn-sm btn-warning" routerLink="/request-reset-password">Reset password</a>
    </div>
</div> -->
<div class="row mt-5">
    <div class="col">
        <p>The ToDo application is a sample web application to add, edit, or delete a todo task.</p>

        <strong><i>Development Stack</i></strong>
        <ul>
            <li>Java programming language</li>
            <li>Spring Boot Framework</li>
            <li>Angular Framework</li>
            <li>Bootstrap</li>
            <li>Amazon SES, S3, RDS, EC2</li>
        </ul>

        <strong><i>Data Entities</i></strong>
        <ul>
            <li>
                <strong>Roles</strong>
                <ul>
                    <li>ADMIN</li>
                    <li>SUPPORT</li>
                    <li>USER</li>
                </ul>
            </li>
            <li>
                <strong>Users</strong>
                <ul>
                    <li>admin1@todo.com</li>
                    <li>admin2@todo.com</li>
                    <li>admin3@todo.com</li>
                    <br>
                    <li>support1@todo.com</li>
                    <li>support2@todo.com</li>
                    <li>support3@todo.com</li>
                    <br>
                    <li>user1@todo.com</li>
                    <li>user2@todo.com</li>
                    <li>user3@todo.com</li>
                    <li>user4@todo.com</li>
                    <li>user5@todo.com</li>
                </ul>
            </li>
            <li>
                <strong>Passwords</strong>
                <ul>
                    For experimental purposes, the password for all the user is <i>password</i>
                </ul>
            </li>
            <li>
                <strong>Todos</strong>
                <ul>
                    <li>
                        Above users has 10 sample initial todos.
                    </li>
                </ul>
            </li>
            <!-- <li>
                <strong>Items under development</strong>
                <ul>
                    <li>Pagination</li>
                    <li>Searching</li>
                    <li>Sorting</li>
                    <li>Token for reset passwords</li>
                    <li>Connect github to build processes</li>
                    <li>Cron job to reset the database entities</li>
                    <li>Create a profile for dev, tet, prod</li>
                    <li>Encrypting the sensitive information in app.prop</li>
                    <li>Unifying the error messages</li>
                </ul>
            </li> -->
        </ul>

        <i><strong>Features</strong></i>
        <ul>
            <li>Users can sign up, then they will receive an email to verify their email.</li>
            <li>Users can login or logout</li>
            <li>Users can reset their password.</li>
            <li>Users can create, edit, or delete a todo task.</li>
            <li>Admin users can add/edit a user. In that case user will receive an email containing temp pass.</li>
            <li>Support users can only view the users.</li>
        </ul>

        <i><strong>GitHub Links</strong></i>
        <ul>
            <li>
                <a href="https://github.com/hmishaeil/todo-frontend">
                    https://github.com/hmishaeil/todo-frontend
                </a>
            </li>
            <li>
                <a href="https://github.com/hmishaeil/todo-backend">
                    https://github.com/hmishaeil/todo-backend
                </a>
            </li>
        </ul>

        <i><strong>Screenshots</strong></i>

        <div class="row my-5">
            <div class="col-6 p-5 text-center border-bottom" style="cursor: pointer;" *ngFor="let image of images">
                <img [src]="image.url" [alt]="image.alt" placement="left" style="max-width: 50%;"
                    (click)="onImageClick(image.url)">
            </div>
        </div>
        <br>
    </div>
</div>