<div class="row mt-5">
    <div class="col-4 text-center m-auto">
        <h2>Welcome</h2>
        <br>
        <h4>Keep track of your todo tasks</h4>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-4 text-center m-auto">
        <p>New user?</p>
        <a class="btn btn-sm btn-primary" routerLink="/signup">Sign up</a>
        <br><br>
        <p>Already have an account?</p>
        <a class="btn btn-sm btn-success" routerLink="/login">Login</a>
        <br><br>
        <p>Forgot password?</p>
        <a class="btn btn-sm btn-warning" routerLink="/request-reset-password">Reset password</a>
    </div>
</div>
