<div class="row">
    <div class="col-3 m-auto mt-5">
        <h3 class="mb-5 text-muted">Login Form</h3>

        <p *ngIf="errMsg" class="alert alert-danger">{{errMsg}}</p>
        <p *ngIf="showSuccessfulResetPasswordMsg == 1" class="alert alert-success">
            {{msg}}
        </p>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" [(ngModel)]="username" name="email">
            </div>
            <div class="form-check mt-2 mx-1">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" [checked]="rememberMe" (change)="onRememberMeChange()">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    [(ngModel)]="password" name="password">
            </div>
            <br>

            <button type="submit" (click)="onLogin()" class="btn btn-sm btn-success">Login</button>

        </form>
        <hr>
        <p>Forgot your password?</p>
        <button type="button" (click)="onRequestResetPassword()" class="btn btn-sm btn-warning">Reset Password</button>
    </div>
</div>