<div class="row mt-5">
    <div class="col-3 m-auto" >
        <h3>Reset Password</h3>
        <br>
        <form #f="ngForm" (ngSubmit)="onResetPassword()" [appMatchPassword]="['password', 'confirmPassword']">
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Please enter your new password" required
                    [(ngModel)]="password" #passwordInput="ngModel" name="password">
            </div>
            <ul *ngIf="!passwordInput.valid && passwordInput.touched" class="text-danger">
                <li>Password is required.</li>
            </ul>
            <br>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Please confirm your new password"
                    required [(ngModel)]="confirmPassword" #confirmPasswordInput="ngModel" name="confirmPassword">
            </div>
            <ul *ngIf="!confirmPasswordInput.valid && confirmPasswordInput.touched" class="text-danger">
                <li *ngIf="confirmPasswordInput.errors.required">Password confirmation field is required.</li>
                <li *ngIf="confirmPasswordInput.errors.passwordMismatch">Passwords do not match.</li>
            </ul>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="f.form.invalid">Submit</button>
        </form>
    </div>
</div>